.heading{
  font-size: 23px;
  width: 80%;
  margin: 0px;
  box-shadow: 5px 5px 20px aqua;
}
#status{
  font-size: 18px;
}
body {
  background-image: url("background.jpg");
  background-size: cover;
}
canvas {
  border: 5px solid green;
  margin-top: 25px;
  box-shadow: 5px 5px 20px aqua;
  border-radius: 20px;
}